body 
{
	background-color: #202020;
}
#container
{
	width: 100%; height: 100%;
}
#friend_list
{
	  position: fixed; right:0%; top: 6%; width: 250px; height: 100%; text-align: center;
}	
ul 
{
			list-style-type: none;
}
.dropdown-menu
{
	background-color: #202020; color: white; width:270px;
}
nav-link dropdown-toggle
{
	color: white;
}
.nav-pills .show>.nav-link 
{
	background-color: #343a40;
}
.dropdown-toggle::after 
{
  		display:none;
}
#content
{
	background-color: #232322; width:700px; height: 1500px; left: 30%; top: 6%; position: absolute;
}
.sticky 
{
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + .content 
{
	  padding-top: 60px;
}
#navbar
{
	position:fixed;  
	z-index:1; 
	width:100%;
}
#left_nav
{
	width: 250px; height: 600px; position: fixed; left: 17%; top: 7%;  color: white;
}
a:not([href]):not([tabindex]) 
{
	color: white;
}
#create_group_menu
{
	position: relative; left: 40%; top: 10px;
}
#left_table_menu
{
	background-color: #202020; color: white;
}
#group_list
{
	overflow-wrap: break-word;	
}
#groups
{
	width: 145px;
	position: relative;
	left: 28%;
	top: 5%;
}
#header
{
	left: 40%;
	position: relative;
}
a, a:hover
{
	color: white; text-decoration: none;	
}
#drop_down_menu_request
{
	margin-left: 25%;
}
#user_informations
{
	position: relative; width: 70%; height: 40%; left:27%;
}
#profile_photo
{
	background-color: #262626; position: relative; width: 170px; height: 170px;left: 1%; top: 1%;border-radius: 0%; border: 2px groove #262626;
}
#name_and_surname
{
	position: relative; width: 96%; height: 28%; left: 2%; top: 1%;
}
.user_name_and_surname
{
	color: white; font-size: large;
}
#account_statistic
{
	position: relative; width: 100%; height: 40%;
}
.stats_left
{
	margin-left: 4%; margin-bottom: 3%; width: 40%; position: relative; float: left;
}
.stats_right
{
	margin-left: 4%; margin-bottom: 3%; width: 40%; position: relative; float: right;
}